main {
  padding-bottom: 25px;
}

main div {
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
    /* padding-bottom: 5px; */
  }
  iframe, main img {
    display:block;
    margin: auto;
    margin-bottom: 50px;
    max-width: 100%;
    object-fit: cover;
  }


  p {
    text-align: left;
    color: #f4f3f3;
    margin-bottom: 30px;
  }

  #fecha {
    text-align: center;
  }
  h2 {
    color: #f4f3f3;
  }