.container {
  width: 100%;
  margin: auto;
}
body {color: white}
main p{
    background-color: #003565;
    font-size: 1rem;
    line-height: 1.5;
    color: #f4f3f3;
    height: 100%;
  }
.row {
  display: flex;

}
.elemento-class {
  max-width: 99%; 
  margin: 5px;
}
img {
  max-width: 95%;
  margin-bottom: 10px;
}

@media all and (min-width: 768px) {

  .elemento-class {
    max-width: 32%; 
    margin: 5px;
  }
  img {
    max-width: 100%;
    margin-bottom: 10px;

  }






}  
