
h5, legend {text-align: center;}

.contenedor-botones {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin: 5px 10px;
    background-color: #eda912 !important;
}
select {
    /* display:block; */
    line-height: 1.5}

.tabla{
    position: relative;
    width: 100%;

}
.tabla p {
    border: solid 2px yellow;
}