
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }

html {
  /* background-color: black; */
    /* background-color: #f4f3f3; */
    background-image: url(../img/bg1.jpg);
    background-size: 100%; 
    }

body {
    font-family: 'calibri regular', sans-serif;
    font-weight: normal;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
main {
  background-color: #003565;
  padding-bottom: 25px;
}

h1 {color: #f4f3f3;
    text-align: center;
    font-size: 1.3rem}
h2 {font-size: 1rem;
    color: #f4f3f3;
  }
  
  header {
      background-color: #002c57;
      color: white;
      padding-top: 20px;
      padding-bottom: 10px;
    }
 
  header h2 {
      text-align: center;
      padding-top: 15px;
    }

  .logo-unam {
      width: 100%;
      height: auto;
    }

  .logo-fam {
      width: 80%;
      height: auto;
    }
  .logo-limme {
    width: 90%;
    height: auto;
    }

    


    legend {color: #f4f3f3;}

    fieldset, table {
      color: #f4f3f3;
      width: 50%;
      height: auto;
      margin: auto;
      border-collapse: collapse;
  }
  
  tr, th, td {
      margin: 0;
      text-align: center;
      border: solid 1px #f4f3f3;
      color: #f4f3f3;
      padding: 5px;
      width: 10px;
      height: 10px;
  }

  p {
    text-align: center;
    color: #f4f3f3;
  }







  footer {
      height: auto;
      background-color: #002c57;
      display: flex;
      flex-wrap: wrap;
    }
  footer > .texto { width: 100%}
  footer > .enlace { width: 100%}
  footer p {
    font-size: .5rem;
    line-height: 2;
    color: white;
    width: 100%;
    padding: 18px;    
    }

 .enlace ul {
    list-style: none;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    }

.enlace li {
    padding: 1px;
}

 .enlace a {
    color: #eda912;
    font-size: .7rem;
    text-decoration: none;
    padding-bottom: 5px;
}   

span {
    color: red;
}

@media all and (min-width: 768px) {
    h1 {font-size: 2.3rem;}
    h2 {font-size: 1.6rem;}
    footer > .texto { width: 40%}
    footer > .enlace { width: 20%}
    footer p {
      font-size: .7rem;
      padding: 20px;    
      }
    .enlace ul {
      margin-top: 30px;
      }
    .enlace a {
      font-size: 1rem;
      padding-bottom: 5px;
  }
  .enlace li {
    padding: 5px;
  }
}

@media all and (min-width: 992px) {
      
}