
    .hlunes {grid-area: glunes;}
    .hmartes {grid-area: gmartes;}
    .hmiercoles {grid-area: gmiercoles;}
    .hjueves {grid-area: gjueves;}
    .hviernes {grid-area: gviernes;}
    .hsabado {grid-area: gsabado;}

  .grid-container {
    display: grid;
    width: 90%;
    height: auto;
    margin: auto;
    grid-template-areas:
      'titulo1'
      'titulo2'  
      'glunes'
      'gmartes'
      'gmiercoles'
      'gjueves'
      'gviernes'
      'gsabado';
    grid-gap: 8px;
    background-color: #a6a6a6;
    padding: 10px;

  }
  .grid-container div {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px 2px;
  }
  .grid-container h2 {
      font-weight: bold;
      font-size: 1.6;
  }
  .foto {
      width: 100%;
      height: auto;
  }
  @media screen and (min-width: 768px) {
    .grid-container {
        grid-template-areas:
          'titulo1 titulo2'  
          'glunes gmartes'
          'gmiercoles gjueves'
          'gviernes gsabado';
        grid-template-columns: 49% 49%;
    }
  }  