
body {

    background: url(../img/bg1.jpg) #000;
    /* background-size: 100%; */
    }

  .fondo {
    font-family: 'calibri regular', sans-serif;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    /* height: 500px;
    background: url(../img/bg1.jpg) #000; */

  }