.container {
  width: 80%;
  margin: auto;
}
body {color: white}
main p{
    background-color: #f4f3f3;
    font-size: 1rem;
    line-height: 1.5;
    color: #003565;
    padding: 30px;
    height: 100%;
  }

main p a {
  color: red;
  }

.foto{
  max-width: 100%;}
img {
    max-width: 90%;
    display:block;
    margin: auto;
  }s
.elvideo{
  padding: 0px;

}
.contenedor-video {
  padding: 5px;
  max-width: 100%;
  margin: auto;
}
.contenedor-boton {
  display: flex;
  justify-content: center;
  height: 25px;

}
.contenedor-boton p {
  /* display:inline-block; */
  color: #f4f3f3;
  background-color: #003565;
  padding: 0 5px;
  vertical-align: middle;
}
video {
  max-width: 100%;
  margin: auto;
  display: block;
}

@media all and (min-width: 768px) {
  .contenedor-video {
    /* padding: 25px 25px 50px; */
    max-width: 80%;
    margin: auto;
  }
  
  video {
    max-width: 70%;
    margin: auto;
    display: block;

}
.contenedor-boton {
  position:relative;
  width: 30%;
  margin: auto;
}
}