.container {
  width: 80%;
  margin: auto;
}

main p{
    background-color: #f4f3f3;
    font-size: 1rem;
    line-height: 1.5;
    color: #003565;
    padding: 30px;
    height: 100%;
  }

main p a {
  color: red;
  }

main img {
    width: 90%;
    display:block;
    margin: auto;
  }