
h5, legend {text-align: center;}

.contenedor-botones {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin: 5px 10px;
    background-color: #eda912 !important;
}
