.container {
  width: 90%;
  margin: auto;
}

main p{
    background-color: #f4f3f3;
    font-size: .9rem;
    line-height: 1.4;
    color: #003565;
    padding: 12px;
    width: 100%;
    height: 100%;
  }
h5 {
  background-color: #f4f3f3;  
  color: #003565;
  text-align: center;
  height: 97%;
  padding-top: 5%;
}

main .row {
  border: solid 2px #003565;
}

@media screen and (min-width: 768px) {
  main p{
    font-size: .9rem;
    line-height: 1.5;
    padding: 25px;
  }
h5 {
  text-align: center;
  height: 100%;
  padding-top: 30%;
}
  
} 