.container {
  width: 80%;
  margin: auto;
}
h5 {color: #f4f3f3;
    text-align: center;
}
main p{
    background-color: #f4f3f3;
    font-size: .7rem;
    line-height: 1.5;
    color: #003565;
    padding: 1px;
    width: 100%;
    height: 100%;
  }
.margen {
  border: solid 3px white;
}

main img {
    width: 90%;
    display:block;
    margin: auto;
  }
.inicio {
  padding-top: 30px;
}
.inicio2 {
  padding-top: 15px;
}

  @media all and (min-width: 768px) {
    main p{
      font-size: .8rem;
      padding: 10px;
      /* height: auto; */
    }

  }